.contact-section {
  @include media(desktop) {
  }
}

.contact-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include media(desktop) {
    max-width: 870px;
    margin-bottom: 50px;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    margin-bottom: 50px;
  }
}

.contact-list-item {
  box-shadow:
    0 4px 10px -6px rgba(173, 70, 255, 0.2),
    0 10px 13px -5px rgba(173, 70, 255, 0.2);
  background: #fff;
  border: 2px solid #f3e8ff;
  border-radius: 16px;
  padding: 14px 24px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 315px;

  @include media(desktop) {
    padding: 24px 14px 20px;
    max-width: 207px;
  }
}

.contact-item-img-wrapper {
  background: linear-gradient(90deg, #9810fa 0%, #e60076 100%);
  border-radius: 6px;
  min-width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.contact-icon {
  min-width: 32px;

  @include media(desktop) {
  }
}

.contact-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #364153;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.11111;
  }
}

.contact-btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: #364153;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.6;
  }
}

.contact-cta-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #9810fa 0%, #e60076 100%);
  border-radius: 16px;
  padding: 8px 28px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #fff;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 10px 28px;
    font-size: 20px;
    line-height: 1.4;
  }
}
