.leaderboard-section {
}

.leaderboard-bg-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.leaderboard-container {
  @include media(desktop) {
  }
}

.leaderboard-title {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.leaderboard-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83333;
  text-align: center;
  color: #364153;
  max-width: 336px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.6;
    max-width: 800px;
  }
}

.leaderboard-content-wrapper {
  @include media(desktop) {
  }
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;

  @include media(desktop) {
    gap: 20px;
  }
}

.leaderboard-list-item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 253px;

  @include media(desktop) {
    max-width: 351px;
  }
}

.leaderboard-item-img-wrapper {
  background: linear-gradient(90deg, #9810fa 0%, #e60076 100%);
  border-radius: 6px;
  min-width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    min-width: 45px;
    height: 45px;
    margin-bottom: 16px;
  }
}

.leaderboard-icon {
  min-width: 24px;

  @include media(desktop) {
    min-width: 32px;
    width: 32px;
    height: 32px;
  }
}

.leaderboard-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  color: #364153;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1;
  }
}

.leaderboard-bottom-wrapper {
  background: linear-gradient(90deg, #faf5ff 0%, #fdf2f8 34.53%, #fff 100%);
  border: 1px solid #fccee8;
  border-radius: 16px;
  padding: 10px 6px;
  width: 100%;
  max-width: 346px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 14px;
    max-width: 998px;
  }
}

.leaderboard-bottom-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #101828;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 26px;
    line-height: 1.23077;
  }
}

.leaderboard-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #364153;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    max-width: max-content;
  }
}
