.progress-section {
  background: linear-gradient(135deg, #faf5ff 0%, #fdf2f8 50%, #fff 100%);
}

.progress-bg-wrapper {
  padding-top: 10px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/progress/progress-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 1440px;
    background-image: url(../img/progress/progress-bg-desk.jpg);
  }
}

.progress-container {
  @include media(desktop) {
  }
}

.progress-title {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.progress-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83333;
  text-align: center;
  color: #364153;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 56px;
  }
}

.progress-content-wrapper {
  box-shadow: 0 25px 50px -12px rgba(173, 70, 255, 0.2);
  background: #fff;
  border: 2px solid #f3e8ff;
  border-radius: 14px;
  padding: 8px 19px 17px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    padding: 25px 29px 28px;
    max-width: 951px;
    margin-left: auto;
    margin-right: auto;
  }
}

.progress-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.55556;
  color: #364153;
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 30px;
  }
}

.progress-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;

  @include media(desktop) {
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 40px;
  }
}

.progress-list-item {
  box-shadow:
    0 8px 10px -6px rgba(0, 0, 0, 0.2),
    0 10px 45px -5px rgba(0, 0, 0, 0.12);
  background: #fff;
  border: 2px solid #f3e8ff;
  border-radius: 16px;
  padding: 8px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 146px;
  min-height: 151px;

  @include media(desktop) {
    padding: 24px 24px 5px;
    max-width: 207px;
    min-height: 198px;
  }
}

.progress-item-img-wrapper {
  background: linear-gradient(90deg, #9810fa 0%, #e60076 100%);
  border-radius: 6px;
  min-width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @include media(desktop) {
  }
}

.progress-icon {
  min-width: 32px;

  @include media(desktop) {
  }
}

.progress-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.53846;
  text-align: center;
  background: linear-gradient(90deg, #9810fa 0%, #e60076 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;

  @include media(desktop) {
    font-size: 36px;
    line-height: 1.11111;
    margin-bottom: 10px;
  }
}

.progress-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.3;
  text-align: center;
  color: #364153;

  @include media(desktop) {
    font-size: 14px;
    line-height: 1.42857;
  }
}

.progress-bg-text {
  background: linear-gradient(90deg, #9810fa 0%, #e60076 100%);
  border-radius: 16px;
  padding: 10px 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;

  @include media(desktop) {
    padding: 16px;
    font-size: 26px;
    line-height: 1.23077;
    text-align: center;
  }
}

.progress-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #364153;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.75;
  }
}
