<section id="cookie-banner" class="cookie-banner-section">
  <div class="cookie-banner-wrapper">
    <div class="cookie-banner-text-wrapper">
      <picture>
        <source
          srcset="./img/banner/cookie-desk.png"
          media="(min-width: 1440px)"
          width="98"
          height="98"
        />
        <source srcset="./img/banner/cookie-mob.png" width="49" height="49" />
        <img
          class="banner-img"
          src="./img/banner/cookie-mob.png"
          alt="Cookie"
          width="49"
          height="49"
          loading="lazy"
        />
      </picture>
      <p class="cookie-banner-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="cookie-banner-buttons">
      <button class="cookie-accept-btn" id="cookie-accept">
        ACCEPT COOKIES
      </button>
      <button class="cookie-decline-btn" id="cookie-decline">
        <span class="banner-btn-span">DECLINE COOKIES</span>
      </button>
    </div>
  </div>
</section>
