<section class="section benefits-section" id="benefits">
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <h2 class="section-title benefits-title">More Than Just a Puzzle App</h2>
      <p class="benefits-text">
        Most puzzle apps just do one thing. We wanted to create something that
        actually works your whole brain.
      </p>
      <div class="benefits-content-wrapper">
        <ul class="benefits-list">
          <li class="benefits-list-item">
            <div class="benefits-item-img-wrapper">
              <svg class="benefits-icon" width="27" height="27">
                <use href="./img/sprite.svg#icon-brain-circuit"></use>
              </svg>
            </div>
            <p class="benefits-item-text">You’re not just solving math.</p>
          </li>
          <li class="benefits-list-item">
            <div class="benefits-item-img-wrapper">
              <svg class="benefits-icon" width="27" height="27">
                <use href="./img/sprite.svg#icon-book-open-text"></use>
              </svg>
            </div>
            <p class="benefits-item-text">You’re not just guessing words.</p>
          </li>
          <li class="benefits-list-item">
            <div class="benefits-item-img-wrapper">
              <svg class="benefits-icon" width="27" height="27">
                <use href="./img/sprite.svg#icon-network"></use>
              </svg>
            </div>
            <p class="benefits-item-text">
              You’re strengthening logic, memory, language, and reasoning at the
              same time.
            </p>
          </li>
        </ul>
        <div class="benefits-bottom-text">
          It’s structured brain development disguised as fun.
        </div>
      </div>
    </div>
  </div>
</section>
