<section class="section contact-section" id="home">
  <div class="contact-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">
          Ready to Unlock Your Brain’s Potential?
        </h2>
        <ul class="contact-list">
          <li class="contact-list-item">
            <div class="contact-item-img-wrapper">
              <svg class="contact-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-crosshair"></use>
              </svg>
            </div>
            <p class="contact-item-text">Challenge yourself.</p>
          </li>
          <li class="contact-list-item">
            <div class="contact-item-img-wrapper">
              <svg class="contact-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-flame"></use>
              </svg>
            </div>
            <p class="contact-item-text">Build your streak.</p>
          </li>
          <li class="contact-list-item">
            <div class="contact-item-img-wrapper">
              <svg class="contact-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-theater"></use>
              </svg>
            </div>
            <p class="contact-item-text">Climb the leaderboard.</p>
          </li>
        </ul>
        <p class="contact-btn-text">Available on Google Play.</p>
        <a
          class="contact-cta-link"
          href="https://play.google.com/store/apps/details?id=com.puzzlejam.app&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
          >Download Puzzle Jam Now</a
        >
      </div>
    </div>
  </div>
</section>
