<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">
        A Visual Experience That Motivates
      </h2>
      <p class="features-text">Puzzle Jam features:</p>
      <div class="features-content-wrapper">
        <ul class="features-list">
          <li class="features-list-item">
            <div class="features-item-img-wrapper">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-layers"></use>
              </svg>
            </div>
            <p class="features-item-text">Purple-pink gradient interface</p>
          </li>
          <li class="features-list-item">
            <div class="features-item-img-wrapper">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-sparkles"></use>
              </svg>
            </div>
            <p class="features-item-text">Smooth animations</p>
          </li>
          <li class="features-list-item">
            <div class="features-item-img-wrapper">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-layout-panel"></use>
              </svg>
            </div>
            <p class="features-item-text">Clean typography</p>
          </li>
          <li class="features-list-item">
            <div class="features-item-img-wrapper">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-message"></use>
              </svg>
            </div>
            <p class="features-item-text">Instant feedback on answers</p>
          </li>
          <li class="features-list-item">
            <div class="features-item-img-wrapper">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-trophy"></use>
              </svg>
            </div>
            <p class="features-item-text">Celebration effects for streaks</p>
          </li>
        </ul>
        <div class="features-bottom-text">
          Every correct answer feels rewarding. Every level keeps you
          engaged.<br />
          The design supports focus without distraction.
        </div>
      </div>
    </div>
  </div>
</section>
