<section class="section leaderboard-section" id="leaderboard">
  <div class="leaderboard-bg-wrapper">
    <div class="container leaderboard-container">
      <h2 class="section-title leaderboard-title">
        See How You Compare Globally
      </h2>
      <p class="leaderboard-text">
        Puzzle Jam features global leaderboards where you can compare your
        performance with players around the world.
      </p>
      <div class="leaderboard-content-wrapper">
        <ul class="leaderboard-list">
          <li class="leaderboard-list-item">
            <div class="leaderboard-item-img-wrapper">
              <svg class="leaderboard-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-cup"></use>
              </svg>
            </div>
            <p class="leaderboard-item-text">Climb the rankings.</p>
          </li>
          <li class="leaderboard-list-item">
            <div class="leaderboard-item-img-wrapper">
              <svg class="leaderboard-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-medal"></use>
              </svg>
            </div>
            <p class="leaderboard-item-text">Improve your streak.</p>
          </li>
          <li class="leaderboard-list-item">
            <div class="leaderboard-item-img-wrapper">
              <svg class="leaderboard-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-users"></use>
              </svg>
            </div>
            <p class="leaderboard-item-text">Challenge friends and family.</p>
          </li>
        </ul>
        <div class="leaderboard-bottom-wrapper">
          <p class="leaderboard-bottom-subtitle">
            Every correct answer brings you closer to the top.
          </p>
          <p class="leaderboard-bottom-text">
            There's something about trying to beat your friends that just keeps
            you coming back.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
