<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#categories"
            >Categories</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#progress">Progress</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#leaderboard"
            >Leaderboard</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">Features</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
      </ul>
      <a
        class="context-cta-link"
        href="https://play.google.com/store/apps/details?id=com.puzzlejam.app&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
        >Get on Google Play</a
      >
    </nav>
  </div>
</div>
