<section class="section progress-section" id="progress">
  <div class="progress-bg-wrapper">
    <div class="container progress-container">
      <h2 class="section-title progress-title">
        Build Consistency. Track Your Growth.
      </h2>
      <p class="progress-text">
        The more you play, the better you get. Pretty straightforward, right?
      </p>
      <div class="progress-content-wrapper">
        <p class="progress-subtitle">Puzzle Jam tracks:</p>
        <ul class="progress-list">
          <li class="progress-list-item">
            <div class="progress-item-img-wrapper">
              <svg class="progress-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-trend"></use>
              </svg>
            </div>
            <p class="progress-item-title">47 days</p>
            <p class="progress-item-text">Your best streak</p>
          </li>
          <li class="progress-list-item">
            <div class="progress-item-img-wrapper">
              <svg class="progress-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-goal"></use>
              </svg>
            </div>
            <p class="progress-item-title">94%</p>
            <p class="progress-item-text">Accuracy percentage</p>
          </li>
          <li class="progress-list-item">
            <div class="progress-item-img-wrapper">
              <svg class="progress-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-badge-check"></use>
              </svg>
            </div>
            <p class="progress-item-title">1,284</p>
            <p class="progress-item-text">Total questions answered</p>
          </li>
          <li class="progress-list-item">
            <div class="progress-item-img-wrapper">
              <svg class="progress-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-chart-column"></use>
              </svg>
            </div>
            <p class="progress-item-title">Rising</p>
            <p class="progress-item-text">Category performance</p>
          </li>
        </ul>
        <p class="progress-bg-text">
          Can you reach 100 correct answers in a row?
        </p>
        <p class="progress-bottom-text">
          Watch your progress improve over time and turn daily sessions into
          measurable growth.
        </p>
      </div>
    </div>
  </div>
</section>
