<section class="section puzzles-section" id="puzzles">
  <div class="puzzles-bg-wrapper">
    <div class="container puzzles-container">
      <h2 class="section-title puzzles-title">Never Run Out of Puzzles</h2>
      <p class="puzzles-text">
        With a constantly expanding database, Puzzle Jam delivers fresh content
        regularly.
      </p>
      <div class="puzzles-content-wrapper">
        <ul class="puzzles-list">
          <li class="puzzles-list-item">
            <div class="puzzles-item-img-wrapper">
              <svg class="puzzles-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-omega"></use>
              </svg>
            </div>
            <p class="puzzles-item-text">New math patterns</p>
          </li>
          <li class="puzzles-list-item">
            <div class="puzzles-item-img-wrapper">
              <svg class="puzzles-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-a"></use>
              </svg>
            </div>
            <p class="puzzles-item-text">Updated word challenges</p>
          </li>
          <li class="puzzles-list-item">
            <div class="puzzles-item-img-wrapper">
              <svg class="puzzles-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-puzzle"></use>
              </svg>
            </div>
            <p class="puzzles-item-text">Creative logic riddles</p>
          </li>
          <li class="puzzles-list-item">
            <div class="puzzles-item-img-wrapper">
              <svg class="puzzles-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-calendar-days"></use>
              </svg>
            </div>
            <p class="puzzles-item-text">Weekly content updates</p>
          </li>
        </ul>
        <div class="puzzles-bottom-text">
          No repetition. No boredom.<br />
          Every session feels new.
        </div>
      </div>
    </div>
  </div>
</section>
