<section class="section sessions-section" id="sessions">
  <div class="sessions-bg-wrapper">
    <div class="container sessions-container">
      <h2 class="section-title sessions-title">
        Designed for Fast, Engaging Sessions
      </h2>
      <p class="sessions-text">
        With a constantly expanding database, Puzzle Jam delivers fresh content
        regularly.
      </p>
      <div class="sessions-content-wrapper">
        <div class="sessions-list-wrapper">
          <p class="sessions-list-text">Puzzle Jam uses:</p>
          <ul class="sessions-list">
            <li class="sessions-list-item">
              <div class="sessions-item-img-wrapper">
                <svg class="sessions-icon" width="27" height="27">
                  <use href="./img/sprite.svg#icon-circle-check"></use>
                </svg>
              </div>
              <p class="sessions-item-text">Multiple-choice answers</p>
            </li>
            <li class="sessions-list-item">
              <div class="sessions-item-img-wrapper">
                <svg class="sessions-icon" width="27" height="27">
                  <use href="./img/sprite.svg#icon-refresh"></use>
                </svg>
              </div>
              <p class="sessions-item-text">Smooth transitions</p>
            </li>
            <li class="sessions-list-item">
              <div class="sessions-item-img-wrapper">
                <svg class="sessions-icon" width="27" height="27">
                  <use href="./img/sprite.svg#icon-clock"></use>
                </svg>
              </div>
              <p class="sessions-item-text">Quick-response gameplay</p>
            </li>
            <li class="sessions-list-item">
              <div class="sessions-item-img-wrapper">
                <svg class="sessions-icon" width="27" height="27">
                  <use href="./img/sprite.svg#icon-gallery"></use>
                </svg>
              </div>
              <p class="sessions-item-text">Intuitive mobile controls</p>
            </li>
          </ul>
        </div>
        <div class="sessions-list-wrapper">
          <p class="sessions-list-text">Perfect for:</p>
          <ul class="sessions-list">
            <li class="sessions-list-item">
              <div class="sessions-item-img-wrapper">
                <svg class="sessions-icon" width="27" height="27">
                  <use href="./img/sprite.svg#icon-bus"></use>
                </svg>
              </div>
              <p class="sessions-item-text">Commuting</p>
            </li>
            <li class="sessions-list-item">
              <div class="sessions-item-img-wrapper">
                <svg class="sessions-icon" width="27" height="27">
                  <use href="./img/sprite.svg#icon-book-open"></use>
                </svg>
              </div>
              <p class="sessions-item-text">Study breaks</p>
            </li>
            <li class="sessions-list-item">
              <div class="sessions-item-img-wrapper">
                <svg class="sessions-icon" width="27" height="27">
                  <use href="./img/sprite.svg#icon-hourglass"></use>
                </svg>
              </div>
              <p class="sessions-item-text">Waiting times</p>
            </li>
            <li class="sessions-list-item">
              <div class="sessions-item-img-wrapper">
                <svg class="sessions-icon" width="27" height="27">
                  <use href="./img/sprite.svg#icon-brain"></use>
                </svg>
              </div>
              <p class="sessions-item-text">Daily mental warm-ups</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/sessions/sessions-img-desk.png"
        media="(min-width: 1440px)"
        width="423"
        height="537"
      />
      <source
        srcset="./img/sessions/sessions-img-mob.png"
        width="110"
        height="136"
      />
      <img
        class="sessions-img"
        src="./img/sessions/sessions-img-mob.png"
        alt="Screenshot of the game"
        width="110"
        height="136"
        loading="lazy"
      />
    </picture>
  </div>
</section>
